body {
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color:#2a2006;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}
.wrapper {
  background-color:rgb(0,95,88);
  padding:2em;
  border-radius:5px;
}

h1 {
    color: goldenrod;
    margin-bottom:0;
}
h1+p{
    margin-top: 2px;
    color: goldenrod;
    font-style:italic;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
button:first-of-type{
  margin-right:8px;
}
